@path: "../../skin/frontend/fed/default/";

body {

}

#header {
  .head-top {
    background: rgba(0, 0, 0, 0) url("@{path}images/header-bg.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .topbar {
    background-color: rgba(255,255,255,0.51);
  }
}

.brand {
  border-bottom: 1px solid #cbb988;
  text-align: center;
}

.logo {
  display: inline-block;
  padding: 10px 0;
}
.main-menu {
  border-bottom: 1px solid #cbb988;
  background-color: #fff;
}

#nav {
  li {
    a {
      color: #6f5050;
    }
  }
}

.skip-cart {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  .icon {
    position: absolute;
    top: 0;
    left: 105%;
    display: block;
    height: 80px;
    width: 60px;
    background: url("@{path}images/cart.png") no-repeat;
  }
}

.dropdown-menu {
  &.open {
    display: block;
  }
}

.foot_pipe {
  ul {
    text-align: center;
    li {
      display: inline-block;
      a {
        display: block;
        padding: 2px 15px;
        color: #6f5050;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}

.copyright {
  text-align: right;
}
.itef {}
