@path: "../../skin/frontend/fed/default/";

body {
  font-family: Arial, sans-serif;
}


.inline-block {
  display: inline-block;
}
.table {
  display: table;
  width: 100%;
}
.inline-table {
  display: inline-table;
}
.table-cell {
  display: table-cell;
}

#header {
  .head-top {
    background: rgba(0, 0, 0, 0) url("@{path}images/header-bg.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .topbar {
    background-color: rgba(255,255,255,0.51);
  }
}

.brand {
  border-bottom: 1px solid #cbb988;
  text-align: center;
}

.logo {
  display: inline-block;
  padding: 10px 0;
}
.main-menu {
  border-bottom: 1px solid #cbb988;
  background-color: #fff;
}

#nav {
  li {
    a {
      color: #6f5050;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

#sidebar-nav {
  #sidebar-nav-menu {
    padding: 0;
    li {
      padding: 0;
      margin-bottom: 4px;
      background: none;
      a {
        display: block;
        padding: 10px 8px;
        background-color: #f3ecd4;
        color: #98714f;
        font-size: 20px;
        line-height: 1;
      }
      &.home {
        display: none;
      }
      ul {
        padding: 0 !important;
        margin: 4px 0 0 !important;
        li {
          a {
            padding-left: 26px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.skip-cart {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  .icon {
    position: absolute;
    top: 0;
    left: 105%;
    display: block;
    height: 80px;
    width: 60px;
    background: url("@{path}images/cart.png") no-repeat;
  }
}

.dropdown-menu {
  &.open {
    display: block;
  }
}

.etalage {
  img {
    object-fit: contain;
  }
}

.page-title {
  color: #98714f;
}

.subcategory-list {
  .subcategory-grid {
    .item {
      margin-bottom: 38px;
      max-height: 240px;
      overflow: hidden;
      a {
        display: block;
        position: relative;
        border: 2px solid transparent;
        img {
          display: block;
          height: auto;
          width: 100%;
        }
        h2 {
          position: absolute;
          display: block;
          bottom: 0;
          left: 0;
          padding: 15px;
          margin: 0;
          width: 100%;
          background-color: rgba(255,255,255,.8);
          color: #4c3636;
          font-size: 20px;
          text-align: center;
        }
        &:hover {
          border-color: #d9c89f;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .subcategory-list {
    .subcategory-grid {
      .item {
        display: inline-block;
        float: none;
        width: 33%;
      }
    }
  }
}

.qtyswitcher-add-to-cart-box {
  background-color: khaki;
  border: 1px solid khaki;
  .btn-success {
    height: 35px;
    padding: 0 10px;
    background: none;
    border: none;
    color: #6f5050;
    font-size: 13px;
    line-height: 16px;
    white-space: normal;
  }
}

.qtyswitcher-qty {
  margin: 0;
  &.table-cell {
    margin: 0;
    width: 40%;
    vertical-align: middle;
    .table {
      margin: 0;
    }
    .input-box {
      display: table-cell;
      input {
        &.qtyswitcher.btn {
          display: block;
        }
      }
    }
  }
}

.foot_pipe {
  ul {
    text-align: center;
    li {
      display: inline-block;
      a {
        display: block;
        padding: 2px 15px;
        color: #6f5050;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}

.copyright {
  text-align: right;
}
.itef {}
